<!-- includes -->
@model QuickFlip.Models.Community

<!-- community header -->
<img src="@Model.Logo.Src" class="comm-header-logo" />
<h2 style="margin-left:25px;">@Model.Name</h2>
<hr />

<!-- community home icons -->
<ul style="list-style-type:none; margin-top:40px;">

    <li style="margin-bottom: 70px;">
        <a href="@Url.Action("Index", "Sell", new { id = (CommunityAbbrev)Model.CommunityId })" class="comm-home-icons">
            <img src="~/Images/SellIcon.png" style="display: block; width: 75px; height: 75px; border: none; " />
        </a>

        <div class="comm-home-icons-desc">
            <b>For Sale:</b> People here are selling...
        </div>
    </li>

    <li style="margin-bottom:70px; margin-top:40px;">
        <a href="@Url.Action("Index", "Buy", new { id = (CommunityAbbrev)Model.CommunityId })" class="comm-home-icons">
            <img src="~/Images/BuyIcon.png" style="display: block; width: 75px; height: 75px; border: none; " />
        </a> 

        <div class="comm-home-icons-desc">
            <b>Want to Buy:</b> People here are looking for...
        </div>
    </li>

    <li style="margin-bottom: 70px;">
        <a href="@Url.Action("Index", "Search", new { id = (CommunityAbbrev)Model.CommunityId })" class="comm-home-icons">
            <img src="~/Images/SearchIcon.png" style="display: block; width: 75px; height: 75px;" />
        </a>

        <div class="comm-home-icons-desc">
            <b>Search:</b> Search for content
        </div>
    </li>

    <li style="margin-bottom: 70px;">
        <a class="comm-home-icons">
            <img src="~/Images/UsersIcon.png" style="display: block; width: 75px; height: 75px;" />
            <img src="~/Images/ComingSoonLogo.png" style="display:block; width:130px; position:relative; left: -20px; top:-80px; " />

        </a>

        <div class="comm-home-icons-desc">
            <b>Users:</b> People in this community
        </div>
    </li>

</ul>


@Html.ActionLink("Return to map", "Index", "Home", null, new { style = "font-size:large; margin-left:30px;" })

