<!-- includes -->
@model QuickFlip.Models.Community

<!-- community header -->
<img src="@Model.Logo.Src" style="max-height:100px; max-width:100px" />
<h2>@Model.Name</h2>
<hr />

<!-- community home icons -->
<ul style="list-style-type:none; margin-top:40px;">

    <li style="margin-bottom: 70px;">
        <a href="@Url.Action("Index", "Sell", new { id = (CommunityAbbrev)Model.CommunityId })" class="comm-home-icons">
            <img src="~/Images/SellIcon.png" style="display: block; width: 75px; height: 75px; border: none; " />
        </a>

        <div class="comm-home-icons-desc">
            <b>For Sale:</b> People here are selling...
        </div>
    </li>

    <li style="margin-bottom:70px; margin-top:40px;">
        <a href="@Url.Action("Index", "Buy", new { id = (CommunityAbbrev)Model.CommunityId })" class="comm-home-icons">
            <img src="~/Images/BuyIcon.png" style="display: block; width: 75px; height: 75px; border: none; " />
        </a> 

        <div class="comm-home-icons-desc">
            <b>Want to Buy:</b> People here are looking for...
        </div>
    </li>

    <li style="margin-bottom: 70px;">
        <a href="@Url.Action("Index", "Search", new { id = (CommunityAbbrev)Model.CommunityId })" class="comm-home-icons">
            <img src="~/Images/SearchIcon.png" style="display: block; width: 75px; height: 75px;" />
        </a>

        <div class="comm-home-icons-desc">
            <b>Search:</b> Search for content
        </div>
    </li>

    <li style="margin-bottom: 70px;">
        <a class="comm-home-icons">
            <img src="~/Images/UsersIcon.png" style="display: block; width: 75px; height: 75px;" />
        </a>

        <div class="comm-home-icons-desc">
            <b>Users:</b> People in this community
        </div>
    </li>



</ul>



