@using System.Linq
@using QuickFlip.Models
@using QuickFlip.BusinessLayer

<h2>Accept Offer.</h2>

@if (Model != null && Model.Settled)
{
    <p>
        Congratulations! You have accepted an offer on your post. <br />
        Below is the e-mail that will be sent to the accepting party, feel free to modify the template to your needs.
    </p>


    <form method="POST" action="~/Buy/SendAcceptMessage">

        <input type="number" name="PostId" hidden="hidden" value="@Model.PostId" />


        @if (Model.AuctionType == AuctionType.Auction)
        {
            <textarea name="AcceptMessage" rows="18" style="width:650px;">
                Congratulations!

                You were the highest bidder for item "@(String.IsNullOrWhiteSpace(@Model.Title) ? "Untitled" : Model.Title)".

                The amount agreed upon was $@Model.BestOffer.Amount.ToString().

                I would like to meet...

                WHEN: Tomorrow (@DateTime.UtcNow.AddDays(1.0).ToShortDateString()) at 12:00 PM.

                WHERE: @BusinessLogic.GetCommunityByCommunityId(Model.CommunityId).DefaultMeetingLocation

                Let me know if this works for you.

                You can email me back at @BusinessLogic.GetUserByUserId(Model.UserId).Email

                Thank you!

            </textarea>
        }
        else
        {

            string description = BusinessLogic.GetAcceptedOfferIdFromPostId(Model.PostId).Description;

            <textarea name="AcceptMessage" rows="18" style="width:650px;">

                Congratulations!

                Your offer was accepted for item "@(String.IsNullOrWhiteSpace(@Model.Title) ? "Untitled" : Model.Title)".

                You described your offer as:  "@description"

                I would like to meet...

                WHEN: Tomorrow (@DateTime.UtcNow.AddDays(1.0).ToShortDateString()) at 12:00 PM.

                WHERE: @BusinessLogic.GetCommunityByCommunityId(Model.CommunityId).DefaultMeetingLocation

                Let me know if this works for you.

                You can email me back at @BusinessLogic.GetUserByUserId(Model.UserId).Email

                Thank you!

            </textarea>
        }

        <br />
        <input value="Send" type="submit" />
    </form>
}

else
{
    <p>
        Error! This offer was never accepted.
    </p>
}