<!-- includes -->
@using System.Linq
@using QuickFlip.BusinessLayer
@using QuickFlip.Models
<script src="~/Scripts/makeoffer-modal.js"></script>
<script src="~/Scripts/makeoffer-fav-offer-modal.js"></script>

<!-- community header -->
<img src="@ViewBag.Community.Logo.Src" class="comm-header-logo" />
<h2 style="margin-left:25px;">For Sale @@ @((CommunityAbbrev)ViewBag.Community.CommunityId) </h2>
<hr />
<br />

<div class="post-backboard">

    <!-- title -->
    <div style="font-size:xx-large; margin-left:50px; overflow:auto; width:600px; margin-right:50px; margin-top:40px; margin-bottom:10px;">
        @(String.IsNullOrWhiteSpace(Model.Title) ? "Untitled" : @Model.Title)
    </div>

    <!-- created on / created by -->
    <div style="margin-left:50px; margin-top:10px; margin-bottom:10px;">
        @Model.CreateDate
        <br />
        Created by: <a>@BusinessLogic.GetUserNameFromUserId(Model.UserId)</a>
    </div>

    <!-- auction type / max price / current offer -->
    <div style="margin-left:50px; margin-top:20px;">
        <b style="font-size:medium;">Type:</b> @(Model.AuctionType == AuctionType.Auction ? "Auction" : "Favorite Offer")
        <br />
        <b style="font-size:medium;">Starting Price:</b> @(Model.RequiredPrice == null ? "None" : "$" + Model.RequiredPrice.ToString())
        <br />
        @if (Model.AuctionType == AuctionType.Auction)
        {
            <b style="font-size:medium">Current Offer: </b> @(Model.Offers.Count == 0 ? "None" : "$" + Model.BestOffer.Amount.ToString())
            if (Model.Offers.Count != 0)
            {
                <a style="text-decoration:none">(@BusinessLogic.GetUserNameFromUserId(Model.BestOffer.UserId))</a>
            }
        }
    </div>

    <!-- transaction type flag -->
    <div style="margin-top:20px; margin-left:50px;">
        @if (Model.TransactionType == TransactionType.Local)
        {
            <i style="color:blue">Local Meetup Only!</i>
        }
        else
        {
            <i style="color:blue">Open To Shipping!</i>
        }
    </div>

    <!-- post image -->
    <div style="margin:40px;">
        @if (Model.PostMedia != null)
        {
            <img src="@String.Format("data:image/png;base64,{0}", Model.PostMedia.B64EncodedImage)" class="post-image" />
        }
        else
        {
            <img src="~/Images/NoPhotoIcon.png" style="border-image-source:inherit;" class="post-image" />
        }
    </div>

    <!-- description -->
    <div>
        <textarea readonly rows="10" style="resize:none; height:auto; position:relative; margin-left:auto; margin-right:auto; display:block;">@Model.Description </textarea>
    </div>

    <!-- categories -->
    <div>
        @if (true)
        {
            string categories = String.Empty;

            for (int i = 0; i < Model.Categories.Count; i++)
            {
                categories += BusinessLogic.GetFullCategoryName(Model.Categories[i]);
                if (i != Model.Categories.Count - 1) { categories += ", "; }
            }

            <div style="margin-left:70px; margin-top:35px;">
                <b style="font-size:medium">Categories: </b> @categories
            </div>
        }
    </div>

    <!-- tags -->
    <div>
        @if (Model.Tags.Count != 0)
        {
            string tags = String.Empty;

            for (int i = 0; i < Model.Tags.Count; i++)
            {
                tags += Model.Tags[i];
                if (i != Model.Tags.Count - 1) { tags += ", "; }
            }

            <div style="margin-left:70px; margin-top:15px;">
                <b style="font-size:medium">Tags: </b> @tags
            </div>
        }
    </div>

    <!-- make offer dialogs -->
    <div style="margin-bottom: 30px;">
        @if (Request.IsAuthenticated)
        {

            <!-- not post owner, make offer -->
            if (WebSecurity.CurrentUserId != Model.UserId)
            {

                if (Model.Offers.Count == 0)
                {
                    <input type="button" id="offerButton" value="Make offer!" style="margin-top:60px; margin-left:auto; margin-right:auto; display:block;">
                }
                else
                {
                    bool showButton = true;

                    if (Model.Settled == true) { showButton = false; }
                    for (int i = 0; i < Model.Offers.Count; i++)
                    {
                        if (Model.Offers[i].UserId == WebSecurity.CurrentUserId)
                        {
                            showButton = false;
                        }
                    }
                    if (showButton)
                    {
                        <input type="button" id="offerButton" value="Make offer!" style="margin-top:60px; margin-left:auto; margin-right:auto; display:block;">
                    }

                }

                <!-- make offer (auction) -->
                if (Model.AuctionType == AuctionType.Auction)
                {
                    <div id="dialog" title="Make Offer">
                        <form method="POST" enctype="multipart/form-data" action="~/Buy/MakeOffer">
                            <div style="text-align:center; margin-top:10px">
                                $<input type="number" name="OfferAmount"
                                        min="@( @Model.Offers.Count == 0
                                                ? (@Model.RequiredPrice == null ? 0 : Model.RequiredPrice)
                                                : @Model.BestOffer.Amount + 1)"
                                        max="@Int32.MaxValue"
                                        required="required" />
                            </div>
                            <input type="number" name="PostId" hidden="hidden" value="@Model.PostId" />
                            <div style="text-align:center; margin-top:25px">
                                <input value="Submit" type="submit" style="align-content:center" />
                            </div>
                        </form>
                    </div>
                }
                else
                {
                     <!-- make offer (favorite offer) -->
                    <div id="dialog-fav-offer" title="Make Offer">
                        <form method="POST" enctype="multipart/form-data" action="~/Buy/MakeOffer">


                            <h3 style="margin-left:77px;">Picture of offer (optional):</h3>
                            @Html.TextBox("offerImage", "", new { type = "file", style = "margin-left:auto; margin-right:auto; display:block;" })

                            <h3 style="margin-left:77px; margin-top:30px; margin-bottom:10px;">Offer description:</h3>
                            <textarea name="Description" rows="6" style="width:400px; resize:none; margin-left:auto; margin-right: auto; display:block;"></textarea>

                            <input type="number" name="PostId" hidden="hidden" value="@Model.PostId" />
                            <div style="text-align:center; margin-top:25px">
                                <input value="Submit" type="submit" style="align-content:center" />
                            </div>
                        </form>
                    </div>
                }
            }
            else if (Model.AuctionType == AuctionType.Auction && Model.BestOffer != null)
            {
                <!-- accept offer (auction) -->
                <form method="POST" enctype="multipart/form-data" action=@Url.Action("AcceptOffer", "Buy")>

                    <input value="@Model.PostId" name="PostId" hidden="hidden" />

                    <input value="Accept Offer!" type="submit" style="margin-top:60px; margin-left:auto; margin-right:auto; display:block;" />

                </form>
            }
        }
        else
        {
        <!-- not logged in, login to make an offer -->
            <div style="margin-left:240px; margin-top:60px; display:block; position:relative">

                <a href=@Url.Action("Login", "Account", new { returnUrl = Url.Action("Post", "Buy", new { id = Model.PostId }) })>
                    Login to make an offer
                </a>
            </div>

        }
    </div>

</div>


<!-- offers (favorite offer) -->
@if (Model.Offers.Count != 0)
{
    <div class="offer-backboard">

        @foreach (var offer in Model.Offers)
        {
            User offerMaker = @BusinessLogic.GetUserByUserId(offer.UserId);

        <!-- display offer information -->
            <div class="offer">

                <!-- left column, post title and picture -->
                <div class="offer-left">
                    @if (offer.OfferMedia != null)
                    {
                        <img src="@String.Format("data:image/png;base64,{0}", offer.OfferMedia.B64EncodedImage)" class="offer-image" />
                    }
                    else
                    {
                        <img src="~/Images/NoPhotoIcon.png" class="offer-image" />
                    }
                </div>

                <!-- right column, post information -->
                <div class="offer-right">
                    <h3>
                        @offerMaker.UserName says...
                    </h3>
                    <div>
                        <textarea readonly rows="8" style="resize:none; width: 260px; float:left; height:auto; display:block;">@offer.Description</textarea>
                    </div>
                </div>

                <!-- accept offer (favorite offer) -->
                <form method="POST" enctype="multipart/form-data"
                      action=@(Model.PostType == PostType.Buy
                    ? Url.Action("AcceptOffer", "Buy")
                    : Url.Action("AcceptOffer", "Sell"))>

                    <input value="@offer.OfferId" name="OfferId" hidden="hidden" />
                    <input value="Accept Offer!" type="submit" style="margin-bottom:20px; margin-top:230px; margin-left:auto; margin-right:auto; display:block; position:relative;" />

                </form>

            </div>
        }
    </div>
}




