<!-- includes -->
@using System.Linq
@using QuickFlip.BusinessLayer
@using QuickFlip.Models
<script src="~/Scripts/change-profilepicture.js"></script>
<script src="~/Scripts/change-comm.js"></script>
<script src="~/Scripts/change-alert-mode.js"></script>
<script src="~/Scripts/change-phone.js"></script>

<hgroup class="title">
    <h1>Manage Account.</h1>
</hgroup>

<hr />


<div style="width:700px; height:350px">

    <!-- profile picture -->
    <div style="width:220px; margin:15px; float:left;">

        <h2 style="text-align:center; margin:10px;"> @WebSecurity.CurrentUserName </h2>

        @if (Model.B64EncodedImage != String.Empty)
        {
            <img src="@String.Format("data:image/png;base64,{0}", Model.B64EncodedImage)" class="profile-picture" />
        }
        else
        {
            <img src="~/Images/NoPhotoIcon.png" class="profile-picture" />
        }

        <input type="button" id="changeProfilePicture" value="Change Picture" style="margin-top:15px; text-align:center; display:block; position:relative; margin-left:auto; margin-right:auto;">
    </div>


    <!-- change password -->
    <div style="float:right; width:450px; margin-top:60px;">
        <ul style="font-size:large;">
            <li style="margin-top:10px;"> <b>Home community:</b> 
                @(BusinessLogic.GetUserByUserId(WebSecurity.CurrentUserId).CommunityId == null
                    ? "Not set!" 
                    : ((CommunityAbbrev)BusinessLogic.GetUserByUserId(WebSecurity.CurrentUserId).CommunityId).ToString()
                 )
                <img src="@(BusinessLogic.GetCommunityByCommunityId(
                                (int)BusinessLogic.GetUserByUserId(WebSecurity.CurrentUserId).CommunityId            
                            ).Logo.Src)"  style="max-height:20px; top:4px; position:relative; margin-left:3px;"/> 
                <a id="changeCommunity" style="text-decoration:none; cursor:pointer; color:blue; ">[change] </a>
            </li>
            <li style="margin-top:10px;"> <b>Email:</b> @BusinessLogic.GetUserByUserId(WebSecurity.CurrentUserId).Email </li>
            <li style="margin-top:10px;"> <b>Phone number:</b> 
                @(BusinessLogic.GetUserByUserId(WebSecurity.CurrentUserId).Phone == null
                    ? "Not set!"
                    : BusinessLogic.PhoneNumberToString(
                        (Int64)BusinessLogic.GetUserByUserId(WebSecurity.CurrentUserId).Phone
                    )
                )                
                <a id="changePhone" style="text-decoration:none; cursor:pointer; color:blue; ">[change] </a>
            </li>
            <li style="margin-top:10px;">
                <b>Alert mode:</b>
                @(BusinessLogic.GetUserByUserId(WebSecurity.CurrentUserId).AlertMode == AlertMode.Email ? "Email"
                    : (BusinessLogic.GetUserByUserId(WebSecurity.CurrentUserId).AlertMode == AlertMode.Text ? "Text" : "Email & Text"))
                
                <a id="changeAlertMode" style="text-decoration:none; cursor:pointer; color:blue; ">[change] </a>
            </li>
            <li style="margin-top:10px;"> @Html.ActionLink("[change password]", "ChangePassword", "Account", new { style = "text-decoration:none; color:blue;" })</li>
</ul>
    </div>

</div>


<!-- my posts -->
<hr />
<div style="margin:20px;">

    <h2 style="margin-left:150px; margin-bottom:25px;"> My Posts:</h2>

    <!-- post list -->
        @foreach (var post in BusinessLogic.GetPostsByUserId(WebSecurity.CurrentUserId))
        {
            <!-- capture post information -->
            string postTitle = String.IsNullOrWhiteSpace((string)post.Title) ? "Untitled" : (string)post.Title;
            string postType = post.PostType == PostType.Buy ? "Want to buy" : "For sale";

            string categories = String.Empty;
            for (int i = 0; i < post.Categories.Count; i++)
            {
                categories += BusinessLogic.GetFullCategoryName(post.Categories[i]);
                if (i != post.Categories.Count - 1) { categories += ", "; }
            }

            <!-- display post information -->
            <div class="post-preview-manage">

                <!-- left column, post title and picture -->
                <div class="post-preview-left-manage">

                    <h3>@Html.ActionLink(postTitle, "Post", post.PostType.ToString(), new { id = post.PostId }, new { style = "text-decoration:none;" })</h3>

                    @if (post.PostMedia != null)
                    {
                        <img src="@String.Format("data:image/png;base64,{0}", post.PostMedia.B64EncodedImage)" class="post-preview-image" />
                    }
                    else
                    {
                        <img src="~/Images/NoPhotoIcon.png" class="post-preview-image" />
                    }
                </div>

                <!-- right column, post information -->
                <div class="post-preview-right-manage">
                    <div style="margin-top:20px;"> <b>In: </b> @postType </div>
                    <div style="margin-top:10px;"> <b>Categories: </b> @categories </div>

                    <div style="margin-top: 20px;">
                        <div style="float:left; margin-left:20px;">

                            <a href="@Url.Action("EditPost", "Account", new { id = post.PostId })" style="height:50px; width:50px; display:block;">
                                <img src="~/Images/EditIcon.png" style="height:50px; width:50px;" />
                            </a>

                        </div>
                        <div style="float:right; margin-right:80px;">
                            <a href="@Url.Action("DeletePost", "Account", new { id = post.PostId })" style="height:50px; width:50px; display:block;">
                                <img src="~/Images/DeleteIcon.png" style="height:50px; width:50px;" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
</div>


<!-- my offers -->
<hr style="margin-top:50px;"/>
<div style="margin:20px;">
    <h2 style="margin-left:150px; margin-bottom:25px;"> My Offers:</h2>

    <!-- post list -->
    @foreach (var post in BusinessLogic.GetPostsByBidderId(WebSecurity.CurrentUserId))
    {
            <!-- capture post information -->
        string postTitle = String.IsNullOrWhiteSpace((string)post.Title) ? "Untitled" : (string)post.Title;
        string postType = post.PostType == PostType.Buy ? "Want to buy" : "For sale";

        string categories = String.Empty;
        for (int i = 0; i < post.Categories.Count; i++)
        {
            categories += BusinessLogic.GetFullCategoryName(post.Categories[i]);
            if (i != post.Categories.Count - 1) { categories += ", "; }
        }

            <!-- display post information -->
        <div class="post-preview-manage">

            <!-- left column, post title and picture -->
            <div class="post-preview-left-manage">

                <h3>@Html.ActionLink(postTitle, "Post", post.PostType.ToString(), new { id = post.PostId }, new { style = "text-decoration:none;" })</h3>

                @if (post.PostMedia != null)
                {
                    <img src="@String.Format("data:image/png;base64,{0}", post.PostMedia.B64EncodedImage)" class="post-preview-image" />
                }
                else
                {
                    <img src="~/Images/NoPhotoIcon.png" class="post-preview-image" />
                }
            </div>

            <!-- right column, post information -->
            <div class="post-preview-right-manage">
                <div style="margin-top:20px;"> <b>In: </b> @postType </div>
                <div style="margin-top:10px;"> <b>Categories: </b> @categories </div>
                <div style="margin-top:20px;"> 
                
                    @if (post.BestOffer.UserId == WebSecurity.CurrentUserId)
                    {
                        <img src="~/Images/BestOfferIcon.png" style="height:40px; width:auto;"/>
                    }
                    else
                    {
                        <img src="~/Images/OutbidIcon.png" style="height:40px; width:auto;"/>
                    }
                
                </div>


            </div>

        </div>
    }

</div>

<!-- my recommendations -->
<hr style="margin-top:50px;" />
<div style="margin:20px;">
    <h2 style="margin-left:150px; margin-bottom:25px;"> My Recommendations:</h2>

    BECAUSE YOU BID ON THIS SHIT CHECK THIS SHIT OUT 



</div>

<!-------------------- scripts -------------------->

    <!-- change profile picture dialog -->
    <div id="prof-dialog" title="Change Profile Picture">
        <form method="POST" enctype="multipart/form-data" action="~/Account/ChangeProfilePicture">
            <div style="text-align:center; margin-top:10px">
                @Html.TextBox("newProfilePicture", "", new { type = "file" })
            </div>
            <div style="text-align:center; margin-top:25px">
                <input value="Submit" type="submit" style="align-content:center" />
            </div>
        </form>
    </div>

    <!-- change home community dialog -->
    <div id="comm-dialog" title="Change Home Community">
        <form method="POST" enctype="multipart/form-data" action="~/Account/ChangeHomeCommunity">
            <div style="text-align:center; margin-top:10px">

                <select name="Community">
                    <option value="IU">IU</option>
                    <option value="MSU">MSU</option>
                    <option value="NU">NU</option>
                    <option value="OSU">OSU</option>
                    <option value="PSU">PSU</option>
                    <option value="PU">PU</option>
                    <option value="UI">UI</option>
                    <option value="UIUC">UIUC</option>
                    <option value="UM">UM</option>
                    <option value="UMN">UMN</option>
                    <option value="UNL">UNL</option>
                    <option value="UWM">UWM</option>
                </select>
                <br />

            </div>
            <div style="text-align:center; margin-top:25px">
                <input value="Submit" type="submit" style="align-content:center" />
            </div>
        </form>
    </div>

    <!-- change phone dialog -->
    <div id="phone-dialog" title="Change Phone Number">
        <form method="POST" enctype="multipart/form-data" action="~/Account/ChangePhone">
            <div style="text-align:center; margin-top:10px">
               ( <input type="text" name="phone_0-2" style="width:40px;" /> )
                 <input type="text" name="phone_3-5" style="width:40px" />
               - <input type="text" name="phone_6-9" style="width:40px" />
            </div>
            <div style="text-align:center; margin-top:25px">
                <input value="Submit" type="submit" style="align-content:center" />
            </div>
        </form>
    </div>

    <!-- change alert mode dialog -->
    <div id="alert-mode-dialog" title="Change Alert Mode">
        <form method="POST" enctype="multipart/form-data" action="~/Account/ChangeAlertMode">
            <div style="text-align:center; margin-top:10px;">

                <select name="AlertMode">
                    <option value="Email">Email</option>
                    <option value="Phone">Text</option>
                    <option value="Both">Email & Text</option>
                </select>
                <br />

            </div>
            <div style="text-align:center; margin-top:25px">
                <input value="Submit" type="submit" style="align-content:center" />
            </div>
        </form>
    </div>


    @if (TempData["UnauthorizedDelete"] != null)
    {
        <script type="text/javascript">
            alert(@Html.Raw(Json.Encode(TempData["UnauthorizedDelete"])));
        </script>
    }