<!-- includes -->
@using System.Linq
@using QuickFlip.BusinessLayer
@using QuickFlip.Models
<script src="~/Scripts/makeoffer-modal.js"></script>

<!-- community header -->
<img src="@ViewBag.Community.Logo.Src" class="comm-header-logo" />
<h2 style="margin-left:25px;">For Sale @@ @((CommunityAbbrev)ViewBag.Community.CommunityId) </h2>
<hr />
<br />

<div class="post-backboard">

    <!-- title -->
    <div style="font-size:xx-large; margin-left:50px; overflow:auto; width:600px; margin-right:50px; margin-top:40px; margin-bottom:10px;">
        @(String.IsNullOrWhiteSpace(Model.Title) ? "Untitled" : @Model.Title)
    </div>

    <!-- created on / created by -->
    <div style="margin-left:50px; margin-top:10px; margin-bottom:10px;">
        @Model.CreateDate
        <br />
        Created by: <a>@BusinessLogic.GetUserNameFromUserId(Model.UserId)</a>
    </div>


    <!-- auction type / max price / current offer -->
    <div style="margin-left:50px; margin-top:20px;">
        <b style="font-size:medium;">Type:</b> @(Model.AuctionType == AuctionType.Auction ? "Auction" : "Favorite Offer")
        <br />
        <b style="font-size:medium;">Starting Price:</b> @(Model.RequiredPrice == null ? "None" : "$" + Model.RequiredPrice.ToString())
        <br />
        @if (Model.AuctionType == AuctionType.Auction)
        {
            <b style="font-size:medium">Current Offer: </b> @(Model.Offers.Count == 0 ? "None" : "$" + Model.BestOffer.Amount.ToString())
            if (Model.Offers.Count != 0)
            {
                <a style="text-decoration:none">(@BusinessLogic.GetUserNameFromUserId(Model.BestOffer.UserId))</a>
            }
        }
    </div>

    <!-- transaction type flag -->
    <div style="margin-top:20px; margin-left:50px;">
        @if (Model.TransactionType == TransactionType.Local)
        {
            <i style="color:blue">Local Meetup Only!</i>
        }
        else
        {
            <i style="color:blue">Open To Shipping!</i>
        }
    </div>

    <!-- post image -->
    <div style="margin:40px;">
        @if (Model.PostMedia != null)
        {
            <img src="@String.Format("data:image/png;base64,{0}", Model.PostMedia.B64EncodedImage)" class="post-image" />
        }
        else
        {
            <img src="~/Images/NoPhotoIcon.png" style="border-image-source:inherit;" class="post-image" />
        }
    </div>

    <!-- description -->
    <div>
        <textarea readonly rows="10" style="resize:none; height:auto; position:relative; margin-left:auto; margin-right:auto; display:block;">@Model.Description </textarea>
    </div>

    <!-- categories -->
    @if (true)
    {
        string categories = String.Empty;

        for (int i = 0; i < Model.Categories.Count; i++)
        {
            categories += BusinessLogic.GetFullCategoryName(Model.Categories[i]);
            if (i != Model.Categories.Count - 1) { categories += ", "; }
        }

        <div style="margin-left:70px; margin-top:35px;">
            <b style="font-size:medium">Categories: </b> @categories
        </div>
    }

    <!-- tags -->
    @if (Model.Tags.Count != 0)
    {
        string tags = String.Empty;

        for (int i = 0; i < Model.Tags.Count; i++)
        {
            tags += Model.Tags[i];
            if (i != Model.Tags.Count - 1) { tags += ", "; }
        }

        <div style="margin-left:70px; margin-top:15px;">
            <b style="font-size:medium">Tags: </b> @tags
        </div>
    }
    

    <!-- make offer -->
    <div style="margin-bottom: 30px;">
        @if (Request.IsAuthenticated)
        {
            if (WebSecurity.CurrentUserId != @Model.UserId)
            {
                <input type="button" id="offerButton" value="Make offer!" style="margin-top:60px; margin-left:auto; margin-right:auto; display:block;">

                if (Model.AuctionType == AuctionType.Auction)
                {
                    <!-- make offer dialog -->
                    <div id="dialog" title="Make Offer">
                        <form method="POST" enctype="multipart/form-data" action="~/Sell/MakeOffer">
                            <div style="text-align:center; margin-top:10px">
                                $<input type="number" name="OfferAmount"
                                        min = "@( @Model.Offers.Count == 0
                                                ? (@Model.RequiredPrice == null ? 0 : Model.RequiredPrice)
                                                : @Model.BestOffer.Amount + 1)" 
                                        max = "@Int32.MaxValue" 
                                        required="required" />                        
                             </div>
                            <input type="number" name="PostId" hidden="hidden" value="@Model.PostId" />
                            <div style="text-align:center; margin-top:25px">
                                <input value="Submit" type="submit" style="align-content:center" />
                            </div>
                        </form>
                    </div>
                }
                else
                {
                    
                }
            }
            else if (Model.AuctionType == AuctionType.Auction && Model.BestOffer != null)
            {
                <form method="POST" enctype="multipart/form-data" action=@Url.Action("AcceptOffer", "Sell")>

                    <input value="@Model.PostId" name="PostId" hidden="hidden" />

                    <input value="Accept Offer!" type="submit" style="margin-top:60px; margin-left:auto; margin-right:auto; display:block;" />
       
                </form>
            }
        }
        else
        {
        <!-- not logged in, login to make an offer -->
            <div style="margin-left:240px; margin-top:60px; display:block; position:relative">

                <a href=@Url.Action("Login", "Account", new { returnUrl = Url.Action("Post", "Sell", new { id = Model.PostId }) })>
                    Login to make an offer
                </a>
            </div>

        }
    </div>

</div>







