<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="@Url.Content("~/Images/favicon.ico")" rel=" shortcut icon" type="image/x-icon" />
        <meta charset="utf-8" />
        <title>QuickFlip</title>
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Styles.Render("~/Content/themes/base/css")
        @using QuickFlip.BusinessLayer
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("QuickFlip", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>
                                @if (BusinessLogic.AnyAlerts(WebSecurity.CurrentUserId))
                                {
                                    <img src="~/Images/AlertIcon.png" style="height:20px; width:20px; position:relative; top:5px;" />
                                }
                                @Html.ActionLink("Account", "Manage", "Account")
                            </li>
                            @if (Request.IsAuthenticated &&
                                 BusinessLogic.GetUserByUserId(WebSecurity.CurrentUserId).CommunityId != null)
                            {
                                <li>
                                    <a href="~/Community/Home/@(((CommunityAbbrev)BusinessLogic.GetUserByUserId(WebSecurity.CurrentUserId).CommunityId).ToString())">
                                        Home
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            }
                                
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - QuickFlip</p>
                </div>
            </div>
        </footer>

        @RenderSection("scripts", required: false)
    </body>
</html>
